.info {
  display: flex;
  justify-content: space-between;
}
.ds-anh {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
}

.ds-anh img {
  width: 180px;
  height: 300px;
  object-fit: cover;
}
.banner {
  object-fit: cover;
}
#anh3 {
  width: 100%;
  
  object-fit: cover;
}